rupture.enable-em-breakpoints = true

html
    box-sizing border-box

*, *:before, *:after
    box-sizing inherit

body
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    font-family default-font-face
    font-size 16px

img
    max-width 100%
    height auto

hr
    border 1px solid #ccc

fieldset
    border none
    margin 0

.container
    width 100%
    height 100%

.wrap
    max-width 1080px
    width 100%
    margin 0 auto

    +below(1080px)
        padding 0 10px