primary-color = #FCCF33
secondary-color = #353366
accent-color = #f03351
text-color = #333333

@import "global.styl"
@import "atoms/buttons.styl"
@import "atoms/inputs.styl"
@import "atoms/links.styl"
@import "atoms/typography.styl"
@import "molecules/table.styl"

@import "organisms/header.styl"

@import "global.styl"

body
    background-color #fff
    color text-color
    margin 0
    padding 0

section
    width 100%
    padding 2em 0