- var infos = [title, description, social, analytics]

doctype html
html
    head
        title #{title} - #{description}
        meta(name="viewport", content="width=device-width")
        meta(name="theme-color", content="#{color}")
        link(href="assets/css/main.css", rel="stylesheet", type="text/css")
    body
        .container
            include partials/header.pug
            
            .wrap
                include table.pug

            include partials/footer.pug


        script(src="assets/javascripts/main.js")