.my-table
    h3 title of table

    .box-container
        .box.box__title Title
        .box.box__title Title
        .box.box__title Title
        .box.box__title Title

        .box 1
        .box 2
        .box 3
        .box 4

        .box 1
        .box 2
        .box 3
        .box 4

        .box 1
        .box 2
        .box 3
        .box 4