/*
    Buttons styles.
*/


$button
    display inline-block
    margin 10px 10px 10px 0
    color #fff
    width auto
    padding 8px
    border-radius 3px
    transition .4s

    &:hover
        opacity 0.8
        transition .4s

.btn
    @extends $button

.isDisable
    background-color #eee!important
    cursor not-allowed

.btn-primary
    background-color primary-color
    font-weight 600

.btn-secondary
    background-color secondary-color
    color blue

.btn-accent
    background-color accent-color