/*
    Inputs styles.
*/

input-border-color = #ccc
input-focus-border-color = #4c3392

$input
    background-color #fff
    width 100%
    height 35px
    border 0
    border-radius 0
    border-bottom 2px solid input-border-color
    font-size: 18px
    transition .4s

    &:focus
        border-color input-focus-border-color
        outline none
        transition .4s
    
    &[required="required"]
        position relative

        &:before
            content "Required"
            position absolute
            left 0
            top 0
            display inline-block
            width 200px
            height 40px

        border-left 2px solid black

        &:focus
            border-bottom-color red
    
    // &:invalid
    //     border-color red

$input-text
    max-width 200px

$input-number
    max-width 50px

$input-color
    max-width 30px
    border-bottom none

$input-date
    max-width 200px

.field
    width 100%
    display block
    margin-bottom 10px

    label
        display block
        width 100%
        margin-bottom 8px

input[type='text']
    @extends $input
    @extends $input-text

input[type='number']
    @extends $input
    @extends $input-number

input[type='color']
    @extends $input
    @extends $input-color

input[type='date']
    @extends $input
    @extends $input-date

input[type='password'],
input[type='radio'],
input[type='checkbox'],
input[type='email'],
input[type='month'],
input[type='search'],
input[type='tel'],
input[type='week']
    @extends $input

$textarea
    background-color #fff
    width 100%
    min-height 100px
    height 100%
    border none
    border-bottom 2px solid input-border-color
    font-size: 18px
    transition .4s



textarea
    @extends $textarea
    
    &:focus
        border-color input-focus-border-color
        outline none
        transition .4s

input[type="range"]
    -webkit-appearance none
    -moz-appearance none
    appearance none
    width 100%
    background transparent

    &::-webkit-slider-thumb
        height 36px
        width 36px
        border-radius 100%
        background primary-color
        cursor pointer
        margin-top -14px
        -webkit-appearance none
        
    &::-webkit-slider-runnable-track
        width 100%
        height 8.4px
        cursor pointer
        background #CCC
        border-radius 1.3px
        
    
    &:focus::-webkit-slider-runnable-track
        background #CCC


    &:focus
        outline none
    
    &::-ms-track
        width 100%
        cursor pointer
        background transparent
        border-color transparent
        color transparent