/*
* Tipography
*/


default-font-face = -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

/* Reset default styles from browsers */

h1, h2, h3, h4, h5, h6
    margin 0
    font-weight normal

p
    line-height 1.6

h1
    font-size 24px
    font-weight bold

h2
    font-size 20px
    font-weight bold

h3
    font-size 24px

h4
    font-size 30px

h5
    font-size 24px

h6
    font-size 22.5px

blockquote
    background #f9f9f9
    border-left 5px solid #ccc
    margin 1.5em 10px
    padding 0.5em 10px

    p
        display inline