.box-container
    display grid
    grid-template-columns 25% 25% 25% 25%
    grid-gap 0
    
    .box
        background-color #ccc
        color #fff
        padding 20px

        &__title
            background-color #333